{% extends "articles/base.html" %}


{% block content %}
    <div class="site-section bg-light">
      <div class="container">
        <div class="row align-items-stretch retro-layout-2">
            <ul>
            {% for tag in tags%}
                <li>
                    <a href = "{%url 'articles:tag_one' pk=tag.pk %}">{{tag.tag_name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
          <a href = "{%url 'articles:tag_create' %}">Создать тег</a>
      </div>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>

{% endblock %}

